.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media only screen and (max-width: 1700px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1300px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1048px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 496px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.noti {
  margin-top: 100px;
  color: rgb(233, 198, 42);
}
