.container {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-container {
  width: 60%;
  height: 70vh;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}
.content-img {
  width: 50%;
  height: 50%;
  display: block;
  transform: translateX(50%);
}

.description-text {
  color: #696868;
}
